<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Pocket Vote</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="js/app/ranked_choice.js"></script>
		<script src="js/app/app.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
	</head>
	<body ng-app="ballotApp" ng-controller="ballotCtrl">

		<!-- Header -->
			<header id="header">
				<h1><a href="index.html">Pocket Vote</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="background.html">Background</a></li>
						<li><a href="index.html#method">Voting Methods</a></li>
						<li><a href="ballot.html" class="button special">Create Ballot</a></li>
					</ul>
				</nav>
			</header>

		<!-- One -->
			<section id="one" class="wrapper style1 special">
				<div class="container">
					<header class="major">
						<h2>Create Ballot</h2>
						<p>Use the selections below to create a ballot with the voting method of your choice!</p>
					</header>
					<div class="row 150%">
						<div class="4u 12u$(medium)">
							<section class="box">
								<h3>Ballot selection:</h3>
								<form>
									Name your ballot <input type="text" ng-model="ballotName" placeholder="Ballot name here">
									<br>
									Choose your ballot type<input list="ballotTypes" ng-model="selectedBallotType" class="alt">
									<br>
									<datalist id="ballotTypes"> 
									<option ng-repeat="type in ballotTypes" value="{{type.name}}">
									</datalist>
									<br>
									Add a ballot choice <input type="text" ng-model="newChoice" placeholder="Add a ballot choice">
									<button type="submit" ng-click="addChoice()">Add another choice</button>
									<br>
									<br>
									Enter number of ballots <input type="number" min="1" ng-model="ballotNumber" placeholder="Number of ballots here">
									<br>
									<br>
									<!--<button type="submit" class="button big" ng-click="addBallot()">Submit selections</button>-->

								</form>
								<button type="submit" class="button big" ng-click="addBallot()">Create ballot</button> <!-- want to add limit on submission to reset, not push another # of ballots-->
							</section>
						</div>
						<div class="4u 12u$(medium)">
							<section class="box">
								<h3>{{ ballotName }} Ballots</h3>
								<p>Cast votes here</p>
								<!--<p>Ballot Type: {{ selectedBallotType }}</p>
								<p>Number of ballots: {{ ballotNumber }}</p>
								<p>Choices:</p>
								<p>{{ choices }}</p>
								<ul class="alt">
									<li ng-repeat="choice in choices">{{ choice }}</li>
								</ul>
								<br>-->
								<!--<p>{{ ballots }}</p>-->

								<div class="table-wrapper" >
									<table ng-repeat="ballot in ballots">
										<thead>
											<tr>
												<th>Choice</th>
												<th>Rank</th>
											</tr>
										</thead>

										<tbody>
											<tr ng-repeat="choiceSelection in ballot.choiceSelections">
												<td><b>{{choiceSelection.choice}}</b></td>
												<td><input type="number" style="width: 48px" min="1" ng-model="choiceSelection.selection"></td>
											</tr>
										</tbody>
									</table>
									<button type="submit" class="button big" ng-click="winner()">Calculate votes</button> 
									<!--<h3>{{ ballot.name }}</h3>
										<div ng-repeat="choiceSelection in ballot.choiceSelections">
											<p>{{ choiceSelection.choice }}</p>
											<p>Enter your rank <input type="number" min="1" ng-model="choiceSelection.selection"></p>
										</div>-->

								</div>
								
						</div>
						<div class="4u$ 12u$(medium)">
							<section class="box">
								<div>
								<style>
									h4 {
    									border: 1px solid gray;
										}
								</style>
									<h3>{{ ballotName }} results here</h3>
									<h4>Current Winner: <!--{{ winner()--> }} </h4>
									<p>Vote tallies will dynamically update here as ballots are cast</p>
									<!--<p>{{results()}}</p>--> 
									<div ng-repeat="(choice, selections) in results()">
											<span><b>{{ choice }}: </b></span>
											<span ng-repeat="selection in selections track by $index"><a href="#">{{selection}}, </a></span>
										</div>
									</div>
							</section>
						</div>
					</div>
			</section>
	</body>
</html>